altair==6.2.1
anyio @ file:///C:/Users/task_177313443047375/croot/anyio_1773134510930/work
argon2-cffi @ file:///C:/Users/task_176606717499708/croot/argon2-cffi_1766067891508/work
argon2-cffi-bindings @ file:///C:/miniconda3/conda-bld/argon2-cffi-bindings_1757925023673/work
asttokens @ file:///C:/Users/task_177313515777345/croot/asttokens_1773135664785/work
async-lru @ file:///C:/miniconda3/conda-bld/async-lru_1761121577604/work
attrs @ file:///C:/Users/task_177495968374484/croot/attrs_1774959757320/work
babel @ file:///C:/miniconda3/conda-bld/babel_1764159345001/work
beautifulsoup4 @ file:///C:/Users/task_178117288498386/croot/beautifulsoup4-split_1781173621024/work
bleach @ file:///C:/Users/task_177754500585987/croot/bleach_1777545100181/work
blinker==1.9.0
branca==0.8.2
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961374486/work
cachetools==7.1.4
certifi @ file:///C:/Users/task_177937043397754/croot/certifi_1779370630777/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792955/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744975868/work
click==8.4.1
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1729036581634/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119281973/work
contourpy==1.3.3
cycler==0.12.1
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421658007/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341249916/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061255268/work
fastjsonschema @ file:///C:/miniconda3/conda-bld/python-fastjsonschema_1763718729498/work
folium==0.20.0
fonttools==4.63.0
geopandas==1.1.3
gitdb==4.0.12
GitPython==3.1.50
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931384726/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httptools==0.8.0
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447475275/work
idna @ file:///C:/Users/task_178056089149060/croot/idna_1780561416383/work
ipykernel @ file:///C:/Users/task_177261242941432/croot/ipykernel_1772612527953/work
ipython @ file:///C:/Users/task_178034879830610/croot/ipython_1780348869359/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
itsdangerous==2.2.0
jedi @ file:///C:/Users/task_177868159554526/croot/jedi_1778681782559/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib==1.5.3
json5 @ file:///C:/miniconda3/conda-bld/json5_1763718601351/work
jsonschema @ file:///C:/Users/task_176795548599579/croot/jsonschema_1767955589407/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788613133/work
jupyter-events @ file:///C:/Users/task_177806719877828/croot/jupyter_events_1778067288936/work
jupyter-lsp @ file:///C:/Users/task_176977262016448/croot/jupyter-lsp_1769772728533/work
jupyter_client @ file:///C:/Users/task_178118289591166/croot/jupyter_client_1781183304415/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588349507/work
jupyter_server @ file:///C:/Users/task_177920384690645/croot/jupyter_server_1779204009532/work
jupyter_server_terminals @ file:///C:/Users/task_177028947700273/croot/jupyter_server_terminals_1770289610577/work
jupyterlab @ file:///C:/Users/task_177825297100687/croot/jupyterlab_1778253057031/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
jupyterlab_server @ file:///C:/Users/task_176962939306684/croot/jupyterlab_server_1769629896837/work
kiwisolver==1.5.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.11.0
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779276169/work
mistune @ file:///C:/b/abs_77yql3poyz/croot/mistune_1741124004410/work
narwhals==2.22.1
nbclient @ file:///C:/Users/task_177157717206701/croot/nbclient_1771577293073/work
nbconvert @ file:///C:/Users/task_177212126656282/croot/nbconvert-meta_1772121325922/work
nbformat @ file:///C:/Users/dev-admin/buildout/croot/nbformat_1739559077024/work
nest_asyncio @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/nest-asyncio_1729042999160/work
networkx==3.6.1
notebook @ file:///C:/Users/task_178034874305335/croot/notebook_1780348807103/work
notebook_shim @ file:///C:/Users/task_176962991874809/croot/notebook-shim_1769630043684/work
numpy==2.4.6
osmnx==2.1.0
packaging==26.0
pandas==3.0.3
pandocfilters @ file:///C:/miniconda3/conda-bld/pandocfilters_1756977623249/work
parso @ file:///C:/Users/task_177867415893348/croot/parso_1778674231626/work
pillow==12.2.0
platformdirs @ file:///C:/Users/task_177365232702842/croot/platformdirs_1773652999051/work
prometheus_client @ file:///C:/Users/task_177273256982068/croot/prometheus_client_1772733420133/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745018781/work
protobuf==7.35.1
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896538278/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067099531/work
pyarrow==24.0.0
pycparser @ file:///C:/Users/task_177495971170849/croot/pycparser_1774959815978/work
pydeck==0.9.2
Pygments @ file:///C:/Users/task_177512670754876/croot/pygments_1775127039781/work
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.2
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030965/work
python-dateutil @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-dateutil_1729038406576/work
python-json-logger @ file:///C:/miniconda3/conda-bld/python-json-logger_1764590262375/work
python-multipart==0.0.32
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pywinpty @ file:///C:/Users/task_177521346079806/croot/pywinpty_1775213547233/work/pywinpty-src
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513644/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375609051/work
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536906371/work
requests @ file:///C:/Users/task_178034870374817/croot/requests_1780348781782/work
rfc3339_validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3339-validator_1729040163441/work
rfc3986_validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3986-validator_1729040192034/work
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366664211/work
scikit-learn==1.9.0
scipy==1.17.1
Send2Trash @ file:///C:/Users/task_176817069598517/croot/send2trash_1768170820791/work
setuptools==82.0.1
shapely==2.1.2
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smmap==5.0.3
soupsieve @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/soupsieve_1729039543636/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067051197/work
starlette==1.3.1
streamlit==1.58.0
streamlit-folium==0.27.2
tenacity==9.1.4
terminado @ file:///C:/Users/task_176959133060638/croot/terminado_1769591780567/work
threadpoolctl==3.6.0
tinycss2 @ file:///C:/miniconda3/conda-bld/tinycss2_1764949124329/work
toml==0.10.2
tornado @ file:///C:/Users/task_177430355453247/croot/tornado_1774303656987/work
traitlets @ file:///C:/Users/task_177874328623145/croot/traitlets_1778743408260/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata==2026.2
urllib3 @ file:///C:/Users/task_177853590853313/croot/urllib3_1778536214467/work
uvicorn==0.49.0
watchdog==6.0.0
wcwidth @ file:///C:/Users/task_176777896000262/croot/wcwidth_1767779216794/work
webencodings @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/webencodings_1729039571130/work
websocket-client @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/websocket-client_1729041881346/work
websockets==16.0
wheel==0.46.3
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278300/work
xyzservices==2026.3.0
